[package]
name = "rust_ui_core"
version = "0.1.0"
edition = "2024"


[dependencies]
bevy_color = {version="0.15.4",default-features = false}
clone_dyn = "0.47.0"
log = "0.4.27"
syslog = "7.0.0"
tuplex = "0.1.2"


[target.'cfg(target_os = "macos")'.dependencies]
block2 = "0.6.1"
objc2 = "0.6.0"
objc2-app-kit = "0.3.0"
objc2-core-graphics = "0.3.0"
objc2-foundation = "0.3.0"
objc2-quartz-core = "0.3.0"

[target.'cfg(target_os = "ios")'.dependencies]
block2 = "0.6.1"
objc2 = "0.6.0"
objc2-core-graphics = "0.3.0"
objc2-foundation = "0.3.0"
objc2-quartz-core = "0.3.0"
objc2-ui-kit = "0.3.1"
objc2-os-log = "0.3.1"